<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyou.mall.mapper.GoodClassMapper">

    <resultMap id="BaseResultMap" type="com.zhiyou.mall.entity.GoodsClasses" >
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="parent_id" property="parentId" jdbcType="INTEGER" />
        <result column="rank" property="rank" jdbcType="INTEGER" />
        <result column="classes_name" property="classesName" jdbcType="VARCHAR" />
        <result column="indruction" property="indruction" jdbcType="VARCHAR" />
        <result column="orders" property="orders" jdbcType="INTEGER" />
        <result column="state" property="state" jdbcType="INTEGER" />

    </resultMap>

    <select id="queryAllGoodsClasses" parameterType="int" resultMap="BaseResultMap">
        select * from good_classes order by LEVEL,orders
    </select>

    <select id="queryGoodsClassesByParent" parameterType="int" resultMap="BaseResultMap">
    </select>

</mapper>